/*Created with Adobe RoboHelp 2019.*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900);
.RH-LAYOUT-CENTERPANEL-topic-box {
  font-family: 'Roboto', Arial, Helvetica, sans-serif !important;
  color: #454545;
}
.RH-LAYOUT-CENTERPANEL-topic-box h1 {
  color: #00b0d0;
  font-weight: 600;
  font-size: 24.0pt;
  padding-bottom: 15px;
  border-bottom: 2px solid #cccccc;
}
.RH-LAYOUT-CENTERPANEL-topic-box h1.Heading1-black {
  color: #607896;
  font-weight: 600;
  font-size: 24.0pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box h2 {
  color: #00b0d0;
  font-weight: 400;
  font-size: 20.0pt;
  margin-top: 30px;
  margin-bottom: 30px;
}
.RH-LAYOUT-CENTERPANEL-topic-box h2.Heading2-black {
  color: #607896;
  font-weight: 400;
  font-size: 20.0pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box h2.Heading2-border {
  padding-top: 30px;
  border-top: 1px solid #cccccc;
}
.RH-LAYOUT-CENTERPANEL-topic-box h3 {
  color: #607896;
  font-weight: 400;
  font-size: 18.0pt;
  margin-top: 30px;
  margin-bottom: 30px;
}
.RH-LAYOUT-CENTERPANEL-topic-box h3.Heading3-blue {
  color: #00b0d0;
  font-weight: 400;
  font-size: 21.0pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box h4 {
  color: #607896;
  font-weight: 500;
  font-size: 16pt;
  margin-top: 30px;
  margin-bottom: 30px;
}
.RH-LAYOUT-CENTERPANEL-topic-box h4.Heading4-blue {
  color: #00b0d0;
  font-weight: 500;
  font-size: 16pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box h5 {
  color: #607896;
  font-weight: 500;
  font-size: 14.0pt;
  margin-top: 30px;
  margin-bottom: 30px;
}
.RH-LAYOUT-CENTERPANEL-topic-box h5.Heading5-blue {
  color: #00b0d0;
  font-weight: 500;
  font-size: 14.0pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box h6 {
  color: #607896;
  font-weight: 500;
  font-size: 12.0pt;
  margin-top: 30px;
  margin-bottom: 30px;
}
.RH-LAYOUT-CENTERPANEL-topic-box h6.Heading6-blue {
  color: #00b0d0;
  font-weight: 500;
  font-size: 12.0pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box p {
  color: #607896;
  font-size: .94rem;
  line-height: 1.4em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.RH-LAYOUT-CENTERPANEL-topic-box a.expandspot {
  color: #008000;
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
}
.RH-LAYOUT-CENTERPANEL-topic-box span.expandtext {
  font-style: italic;
  font-weight: normal;
  color: #ff0000;
}
.RH-LAYOUT-CENTERPANEL-topic-box a.dropspot {
  cursor: pointer;
  color: #008000;
  font-style: italic;
  text-decoration: none;
}
.RH-LAYOUT-CENTERPANEL-topic-box a.glossterm {
  color: #800000;
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
}
.RH-LAYOUT-CENTERPANEL-topic-box span.glosstext {
  font-style: italic;
  font-weight: normal;
  color: #0000ff;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 11.5pt;
  line-height: 1.4em;
}
.RH-LAYOUT-CENTERPANEL-topic-box ul {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 11.5pt;
  line-height: 1.4em;
}
.RH-LAYOUT-CENTERPANEL-topic-box a {
  color: #00b0d0;
}
.RH-LAYOUT-CENTERPANEL-topic-box a:hover {
  color: #00deff;
  text-decoration: none;
}
.RH-LAYOUT-CENTERPANEL-topic-box a.minitoc-caption {
  text-decoration: none;
  color: initial;
  font-weight: 500;
  font-size: 12pt;
}

.RH-LAYOUT-CENTERPANEL-topic-box p.minitoc-caption {
  font-weight: 500;
  font-size: 12pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.minitoc-list {
  padding-left: 0;
  margin-left: 25px;
  list-style: decimal;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.minitoc-list li {
  margin-bottom: 10px;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.minitoc-list ol {
  list-style: decimal;
}
.RH-LAYOUT-CENTERPANEL-topic-box a.minitoc-list-item {}
.RH-LAYOUT-CENTERPANEL-topic-box p.seealso-caption {
  font-weight: 500;
  font-size: 12pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.seealso-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
.RH-LAYOUT-CENTERPANEL-topic-box a.seealso-list-item {}
.RH-LAYOUT-CENTERPANEL-topic-box p.reltopics-caption {
  font-weight: 500;
  font-size: 12pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.reltopics-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 11.5pt;
  line-height: 1.4em;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.remark {
  font-size: 12px;
  margin-left: -20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.RH-LAYOUT-CENTERPANEL-topic-box a.reltopics-list-item {}
.RH-LAYOUT-CENTERPANEL-topic-box img {
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 1em;
  margin-bottom: 0px;
  box-sizing: border-box;
  max-width: 100%;
  height: auto !important;
}
.RH-LAYOUT-CENTERPANEL-topic-box img.img-clear {
  border: none;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 0em;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
}
.RH-LAYOUT-CENTERPANEL-topic-box span.img-description {
  display: block;
  color: #808080;
  margin-top: 1em;
  margin-right: 0px;
  margin-bottom: 2rem;
  margin-left: 0px;
  padding-left: 25px;
  font-size: .94rem;
}
.RH-LAYOUT-CENTERPANEL-topic-box div.border-btm {
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  border-left: 0;
  border-top: 0;
  border-right: 0;
}
.RH-LAYOUT-CENTERPANEL-topic-box sup {
  vertical-align: super;
}
.RH-LAYOUT-CENTERPANEL-topic-box sub {
  vertical-align: sub;
}
.RH-LAYOUT-CENTERPANEL-topic-box b {
  font-weight: 500;
}
.RH-LAYOUT-CENTERPANEL-topic-box strong {
  font-weight: bold;
}
.RH-LAYOUT-CENTERPANEL-topic-box table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #eaeef4;
}
.RH-LAYOUT-CENTERPANEL-topic-box th {
  background-color: #00b0d0;
  color: #ffffff;
}
.RH-LAYOUT-CENTERPANEL-topic-box td,.RH-LAYOUT-CENTERPANEL-topic-box 
th {
  padding: 10px;
}
.RH-LAYOUT-CENTERPANEL-topic-box tr:nth-child(odd) {
  background-color: #f8fdfe;
  color: #FFFFFF;
}
.RH-LAYOUT-CENTERPANEL-topic-box td.head {
  background-color: #00b0d0;
  color: #FFFFFF;
}
.RH-LAYOUT-CENTERPANEL-topic-box iframe {
  border: 1px solid #00b0d0;
}
.RH-LAYOUT-CENTERPANEL-topic-box td {
  padding: 10px;
  color: #607896;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.product {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #eaeef4;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.product td:first-child {
  width: 20%;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.product td:nth-child(2) {
  width: 50%;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.product td:last-child {
  width: 30%;
}
@media (max-width:767px) {
  .RH-LAYOUT-CENTERPANEL-topic-box table.product {
    border: none;
  }
  .RH-LAYOUT-CENTERPANEL-topic-box table.product td {
    display: block;
    border: none;
  }
  .RH-LAYOUT-CENTERPANEL-topic-box table.product tr:first-child {
    display: none;
  }
  .RH-LAYOUT-CENTERPANEL-topic-box table.product tr:nth-child(2) td:first-child {
    border-top: none;
  }
  .RH-LAYOUT-CENTERPANEL-topic-box table.product tr td:first-child {
    border-top: 1px solid #eaeef4;
    padding-top: 30px;
  }
  .RH-LAYOUT-CENTERPANEL-topic-box table.product tr td:last-child {
    border-bottom: 1px solid #eaeef4;
    padding-bottom: 30px;
  }
  .RH-LAYOUT-CENTERPANEL-topic-box table.product td:first-child,.RH-LAYOUT-CENTERPANEL-topic-box 
  table.product td:nth-child(2),.RH-LAYOUT-CENTERPANEL-topic-box 
  table.product td:last-child {
    width: auto;
  }
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.Decimal {
  list-style-type: decimal;
}
.RH-LAYOUT-CENTERPANEL-topic-box ul.Disc {
  list-style-type: disc;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric {
  list-style: decimal;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol {
  list-style: lower-alpha;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol>li>ol {
  list-style: lower-roman;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol>li>ol>li>ol {
  counter-reset: item4;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol>li>ol>li>ol>li {
  position: relative;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol>li>ol>li>ol>li:before {
  counter-increment: item4;
  content: "("counter(item4, decimal)")";
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  counter-reset: item5;
  padding-left: 40px;
  margin-left: 0px;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item5;
  content: "("counter(item5, lower-alpha)")";
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li {
  position: relative;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  counter-reset: item6;
  padding-left: 40px;
  margin-left: 0px;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item6;
  content: "("counter(item6, lower-roman)")";
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol>li {
  position: relative;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.LowerAlpha {
  list-style-type: lower-alpha;
}
.RH-LAYOUT-CENTERPANEL-topic-box pre {
  font-family: 'Lato', Arial, Helvetica, sans-serif !important;
  font-size: 14px;
  line-height: 2em;
  padding: 20px;
  border-radius: 5px;
  color: #000000;
  background-color: #eaeef4;
  border: 1px solid #cccccc;
  border-left: 5px solid #00b0d0;
  box-sizing: border-box;
  overflow: auto;
}