/* Updated by 2020.05.14 */

.RH-LAYOUT-HOMEPAGE-TITLEBAR-container {
  background-position: center;
}
.RH-LAYOUT-HOMEPAGE-TOC-tile-box {
  box-shadow:0;
}
.RH-LAYOUT-HOMEPAGE-TOC-tile-box:hover {
  box-shadow: 0px 1px 10px 3px #eaeaea;
}

@media screen\0 {
  .RH-LAYOUT-HOMEPAGE-SEARCHBOX-outer-box {
    margin:0;
  }
  }
  
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .RH-LAYOUT-HOMEPAGE-SEARCHBOX-outer-box {
      margin:0;
    }
}

.RH-LAYOUT-FOOTER-container {
      
}
.RH-LAYOUT-RIGHTPANEL-container {
  height: 9rem;
  bottom: 0;
  position: fixed;
  top: auto;
}
.RH-LAYOUT-RIGHTPANEL-pageup-button, .RH-LAYOUT-RIGHTPANEL-fullscreen-button {
  bottom: 4rem;
}
.RH-LAYOUT-CENTERPANEL-container {
  width: 90%;
}
.rh-layout-LEFTPANEL-tree-view {
  height: calc(100% - 10%);
}
footer.rh-layout-footer-outer-box {
  background-color: #f6f6f6;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  left: 0;
}
.langSwitch .rh-layout-footer-imgTag {
  display: inline-block;
  vertical-align: middle;
}
.langSwitch {
  position: relative;
  width: 100%;
  text-align: left;
  color: rgb(0,0,0);
  line-height: 2;
  margin: 0;
}
.langSwitch-current {
  position: relative;
  cursor: pointer;
  width: 30%;
  box-sizing: border-box;
}
.langSwitch-current:hover {
  text-decoration: underline; 
}
.langSwitch-box {
  display: none;
  position: absolute;
  width: 30%;
  bottom: 15px;
  left: 0;
  margin-left: 15px;
  list-style: none;
  padding-inline-start: 0;
  background-color: #ffffff;
  border: 1px solid #EFEFEF;
}
.langSwitch-box li {
  padding-left: 1rem;
  text-decoration: none; 
  color: #454545;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
}
.langSwitch-box li:hover {
  background-color: aliceblue;
}
a.ft-link {
  text-decoration: none; 
  color: #000000;
}
a.ft-link:hover {
  color: #22b7db;
  text-decoration: underline; 
}
#langSwitchCurrent {
  display: none;
}
#langSwitchCurrent:checked ~ .langSwitch-box  {
  display: block;
}
.RH-LAYOUT-BODY-mobile-view .rh-layout-BODY-main {
  position: relative;
}
.RH-LAYOUT-BODY-mobile-view .rh-layout-SEARCHBOX-search-selected {
  background-color: #0087a9;
}
.RH-LAYOUT-BODY-mobile-view .rh-layout-footer-outer-box {
  display: block;
  position: relative;;
  bottom: 0;  
  left: 0;
  z-index: 999;
}
.RH-LAYOUT-BODY-mobile-view .rh-layout-footer-inner-left-box {
  width: 100%;
  float: none;
}
.RH-LAYOUT-BODY-mobile-view .rh-layout-footer-inner-right-box {
  width: 100%;
  float: none;
}
.RH-LAYOUT-BODY-mobile-view .langSwitch-current {
  width: 100%;
}
.RH-LAYOUT-BODY-mobile-view .langSwitch {
  text-align: center;
}
.RH-LAYOUT-BODY-mobile-view .langSwitch-box {
  width: 100%;
  margin-left: 0;
  bottom: 24px;
}
.RH-LAYOUT-BODY-mobile-view .langSwitch-box li {
padding-left: 0;}

@media (max-width:399px){
  .RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HEADER-title {
    white-space: normal;
    width: 90%;
  }
}
.RH-LAYOUT-CENTERPANEL-topic-box {
  padding-bottom:100px;
}
.RH-LAYOUT-CENTERPANEL-topic-box .img-description {
    position: relative;
}
.RH-LAYOUT-CENTERPANEL-topic-box .img-description:before {
    content: '';
    display: block;
    position: absolute;
    top: 8px;
    left: 10px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #808080;
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-CENTERPANEL-topic-box iframe {
  width: 100%;
}

