/* Nuclias Cloud Style - Updated by 2020.03.20 */

/* Home Page */
.RH-LAYOUT-HOMEPAGE-SEARCHRESULTS-result-item-title {
    font-weight: 500;
}

/* TOCs Page */
.RH-LAYOUT-HEADER-container {
    background-color: #00b0d0;
}

/* TOCs Header */
.RH-LAYOUT-HEADER-logo {
    height: 100% !important;
}

/* TOCs Search Bar */
.rh-layout-SEARCHBOX-search-selected {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0;
}

/* TOCs Page ToolsBar */
.RH-LAYOUT-LEFTPANEL-tab-box, .RH-LAYOUT-TOOLBAR-toolbar-box {
    background-color: #e6f8fc;
}
.rh-layout-LEFTPANEL-toc-icon-open {
    background-color: #e6f8fc;
}
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HEADER-container {
    z-index: 999;
}

/* TOCs - SearchBar */
.RH-LAYOUT-BODY-mobile-view .rh-layout-SEARCHBOX-search-selected {
    background-color: #00b0d0;
}
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-SEARCHRESULTS {
    z-index: 999;
}

/* TOCs - ToolsBar - tabs  */
.RH-LAYOUT-LEFTPANEL-tab-selected {
    color: #00b0d0;
}

/* TOCs - Left tree item  */
.RH-LAYOUT-LEFTPANEL-tree-item:hover {
    background-color: #e6f8fc;
}
.rh-layout-INDEX-selected-item {
    background-color: #fbfbfb;
}

/*  */

.RH-LAYOUT-BODY-mobile-view.rh-layout-left-panel-expanded .rh-layout-BODY-main{
    display: none;
}

/* Footer */
a.ft-link:hover {
    color: #22b7db !important;
}

.minitoc[hidden] {
    display: block !important;
}

.minitoc {
    background-color: #ecfcff;
    padding: 15px;
}

.minitoc-caption {
    margin-top: 0 !important;
}
